@charset "UTF-8";

.header{
	width: 100%;
	max-width: 640px;
	box-sizing: border-box;
	position: fixed;
	z-index: 1;
}
#go-back{
	position: absolute;
	left: 2%;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}

.wrap{
	padding-top: 11%;
}
	/* 게시판 목록 글자수 제한 */
.btn{
	border-bottom: 1px solid #e5e5e5;
	padding: 3%;
	background-image: url('/fooding/resources/images/myPage/icon-bottom.png');
	background-repeat: no-repeat;
	background-position: 97% 48%;
	position: relative;
	white-space: nowrap;
}
.btn p{
	display: inline-block;
	font-size: 14px;
    margin: 2% 3% 0% 0;
	max-width:65%;
	overflow:hidden;
	text-overflow:ellipsis;
}
.date{
	display: inline-block;
	color: #c91b3c;
	font-size: 12px;
	position: absolute;
	margin-top: 2.4%;
}
.cont{
	display: none;
	padding: 3%;
	border-bottom: 1px solid #e5e5e5;
	background: #f6f6f6;
	color: #9f9f9f;
}