@charset "UTF-8";
/* mobile version */

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 700;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 300;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic *  {
   font-family: 'NanumBarunGothic', sans-serif;
}

/* common */
.container{
	padding: 3%;
}
h2{
	color: #fff;
	text-align: center;
	font-weight: normal;
	
}

/* header*/
.header{
	width: 100%;
	max-width: 640px;
	background-color: #c91b3c;
	padding: 3%;
	box-sizing: border-box;
	position: relative;
}


/* footer */
.footer{
	padding: 2% 3%;
	background-color: #373737;
	text-align: center;
	margin-bottom: 77px;
}
.footer p{
	color: #eee;
}
.copyrigt{
	font-size: 12px;
	margin-top: 5px;
}



/*gnb*/
#gnb{
	position: fixed;
	width: 100%;
	max-width: 640px;
	bottom: 0;
	background-color: #fff;
	z-index: 1;
}
.gnb{
	overflow: hidden;
	border-top: 1px solid #ddd;
	padding: 3%;
}
.gnb li{
	float: left;
	width: calc(100%/5);
	text-align: center;
	letter-spacing: -1px;
	color: #949494;
}
.gnb i{
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto 5% auto;
	background-image: url('/fooding/resources/images/common/mobileCommon.png');
}
.gnb li:hover{
	color: #c71d3a;
}
.gnb li:hover i{
	background-position-y: 32px;
}

.gnb-review i{
	background-position-x: -31px;
}
.gnb-write i{
	background-position-x: -65px;
}
.gnb-event i{
	background-position-x: 64px;
}
.gnb-mypage i{
	background-position-x: 32px;
}
