<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Member" type="com.kh.fooding.member.model.vo.Member"/>
		<typeAlias alias="Board" type="com.kh.fooding.board.model.vo.Board"/>
		<typeAlias alias="Store" type="com.kh.fooding.store.model.vo.Store"/>
		<typeAlias alias="Sam" type="com.kh.fooding.store.model.vo.Sam"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/store-mapper.xml"/>
	</mappers>

</configuration>
