<?xml version="1.0"  encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	<!-- BID
BCODE
MID
BTITLE
BCONTENT
ENROLL_DATE
STATUS
REF_YN
PNO
B_LEVEL
MODIFY_DATE
BNO
B_COUNT
	<resultMap id="boardResultSet" type="Board">
		<id property="bid" column="BID"/>                                               
		<result property="mCode" column="USER_ID"/>                                    
		<result property="mid" column="MID"/>                                  
		<result property="bTitle" column="BTITLE"/>                                
		<result property="bContent" column="EMAIL"/>                                       
		<result property="enrollDate" column="BIRTH"/>                                       
		<result property="status" column="GENDER"/>                                     
		<result property="refYN" column="PHONE"/>                                       
		<result property="pno" column="ADDRESS"/>                                   
		<result property="bLevel" column="MCODE"/>                                       
		<result property="modifyDate" column="ENROLL_DATE"/>                            
		<result property="bno" column="REP_COUNT"/>                                
		               
	</resultMap> -->
	                                                                                    
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD(BID, BCODE, MID, BTITLE, BCONTENT, ENROLL_DATE, STATUS, REF_YN, PNO, B_LEVEL, MODIFY_DATE, BNO, B_COUNT)
		VALUES(SEQ_BID.NEXTVAL,#{mid} , 1, #{bTitle}, #{bContent} ,SYSDATE, DEFAULT, DEFAULT, NULL, 0, SYSDATE, SEQ_BNO1.NEXTVAL, DEFAULT)
	
	</insert>
	
	
	
</mapper>
