<?xml version="1.0"  encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	 
	<resultMap id="boardResultSet" type="Board">
		<id property="bid" column="BID"/>                                               
		<result property="mCode" column="USER_ID"/>                                    
		<result property="mid" column="MID"/>                                  
		<result property="bTitle" column="BTITLE"/>                                
		<result property="bContent" column="BCONTENT"/>                                       
		<result property="enrollDate" column="ENROLL_DATE"/>                                       
		<result property="status" column="STATUS"/>                                     
		<result property="refYN" column="REF_YN"/>                                       
		<result property="pno" column="PNO"/>                                   
		<result property="bLevel" column="B_LEVEL"/>                                       
		<result property="modifyDate" column="MODIFY_DATE"/>                            
		<result property="bno" column="BNO"/>                                
		<result property="bCount" column="B_COUNT"/>
	</resultMap> 
		 
	<resultMap id="boardResultSet2" type="Board">
		<id property="bid" column="BID"/>                                               
		<result property="mCode" column="USER_ID"/>                                    
		<result property="mid" column="MID"/>                                  
		<result property="bTitle" column="BTITLE"/>                                
		<result property="bContent" column="BCONTENT"/>                                       
		<result property="enrollDateJson" column="ENROLL_DATE"/>                                       
		<result property="status" column="STATUS"/>                                     
		<result property="refYN" column="REF_YN"/>                                       
		<result property="pno" column="PNO"/>                                   
		<result property="bLevel" column="B_LEVEL"/>                                       
		<result property="modifyDateJson" column="MODIFY_DATE"/>                            
		<result property="bno" column="BNO"/>                                
		<result property="bCount" column="B_COUNT"/>
		
	</resultMap> 
	                                                                                    
	<insert id="insertQuestion" parameterType="Board">
		INSERT INTO BOARD(BID, BCODE, MID, BTITLE, BCONTENT, ENROLL_DATE, STATUS, REF_YN, PNO, B_LEVEL, MODIFY_DATE, BNO, B_COUNT)
		VALUES(SEQ_BID.NEXTVAL, '1' ,#{mid}, #{bTitle}, #{bContent} ,SYSDATE, DEFAULT, DEFAULT, NULL, 0, SYSDATE, SEQ_BNO1.NEXTVAL, DEFAULT)	
	</insert>
	
	<select id="selectBoardList" parameterType="Board" resultMap="boardResultSet">
	SELECT B.BID, B.BCODE, B.MID, B.BTITLE, B.BCONTENT, M.USER_ID, B.ENROLL_DATE, B.STATUS, B.REF_YN, B.PNO, B.B_LEVEL, B.MODIFY_DATE, B.BNO, B.B_COUNT
	FROM BOARD B 
	JOIN MEMBER M ON(M.MID = B.MID)
	WHERE B.MID=#{mid}
	AND B.STATUS = 'Y'
	ORDER BY B.ENROLL_DATE DESC
	</select>
	
	<select id="countList" parameterType="Board" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD B
		JOIN MEMBER M ON (M.MID=B.MID)
		WHERE B.MID=#{mid}
		AND B.STATUS = 'Y'
		ORDER BY B.ENROLL_DATE DESC
	</select>
	
	<select id="countAllQuestions"  resultType="_int">
		SELECT COUNT(*)
		FROM BOARD 		
		WHERE STATUS = 'Y'
		AND BCODE='1'
		ORDER BY ENROLL_DATE DESC
	</select>
	
	<select id="getAllQuestions" resultMap = "boardResultSet2">
		SELECT B.BID, B.BCODE, B.MID, B.BTITLE, B.BCONTENT, M.USER_ID, B.ENROLL_DATE, B.STATUS, B.REF_YN, B.PNO, B.B_LEVEL, B.MODIFY_DATE, B.BNO, B.B_COUNT
		FROM BOARD B 
		JOIN MEMBER M ON(M.MID = B.MID)
		WHERE B.STATUS = 'Y'
		AND BCODE='1'
		ORDER BY B.ENROLL_DATE DESC
	
	</select>
	
	<select id="searchTitle" resultMap="boardResultSet2" parameterType="map">
		SELECT B.BID, B.BCODE, B.MID, B.BTITLE, B.BCONTENT, M.USER_ID, B.ENROLL_DATE, B.STATUS, B.REF_YN, B.PNO, B.B_LEVEL, B.MODIFY_DATE, B.BNO, B.B_COUNT
		FROM BOARD B 
		JOIN MEMBER M ON(M.MID = B.MID)
		WHERE B.STATUS = 'Y'
		AND BCODE='1'
		AND B.BTITLE LIKE '%' || #{search} || '%'
		ORDER BY B.ENROLL_DATE DESC
	</select>
	
	<select id="Board.searchWriter" resultMap="boardResultSet2" parameterType="map">
		SELECT B.BID, B.BCODE, B.MID, B.BTITLE, B.BCONTENT, M.USER_ID, B.ENROLL_DATE, B.STATUS, B.REF_YN, B.PNO, B.B_LEVEL, B.MODIFY_DATE, B.BNO, B.B_COUNT
		FROM BOARD B 
		JOIN MEMBER M ON(M.MID = B.MID)
		WHERE B.STATUS = 'Y'
		AND BCODE='1'
		AND M.USER_ID LIKE '%' || #{search} || '%'
		ORDER BY B.ENROLL_DATE DESC
	</select>
	
	<select id="searchAnswered" resultMap="boardResultSet2" parameterType="map">
		SELECT B.BID, B.BCODE, B.MID, B.BTITLE, B.BCONTENT, M.USER_ID, B.ENROLL_DATE, B.STATUS, B.REF_YN, B.PNO, B.B_LEVEL, B.MODIFY_DATE, B.BNO, B.B_COUNT
		FROM BOARD B 
		JOIN MEMBER M ON(M.MID = B.MID)
		WHERE B.STATUS = 'Y'
		AND BCODE='1'
		AND B.REF_YN = 'Y'
		ORDER BY B.ENROLL_DATE DESC
	</select>
	
	<select id="searchUnanswered" resultMap="boardResultSet2" parameterType="map">
		SELECT B.BID, B.BCODE, B.MID, B.BTITLE, B.BCONTENT, M.USER_ID, B.ENROLL_DATE, B.STATUS, B.REF_YN, B.PNO, B.B_LEVEL, B.MODIFY_DATE, B.BNO, B.B_COUNT
		FROM BOARD B 
		JOIN MEMBER M ON(M.MID = B.MID)
		WHERE B.STATUS = 'Y'
		AND BCODE='1'
		AND B.REF_YN = 'N'
		ORDER BY B.ENROLL_DATE DESC
	</select>
	
	<select id="selectOneQuestion" resultMap="boardResultSet2" parameterType="String">
		SELECT B.BID, B.BCODE, B.MID, B.BTITLE, B.BCONTENT, M.USER_ID, B.ENROLL_DATE, B.STATUS, B.REF_YN, B.PNO, B.B_LEVEL, B.MODIFY_DATE, B.BNO, B.B_COUNT
		FROM BOARD B
		JOIN MEMBER M ON(M.MID = B.MID)
		WHERE B.STATUS = 'Y'  
		AND B.BID=#{bid}
	</select>
	
	<insert id="insertReply" >
		INSERT INTO BOARD(BID, BCODE,  BTITLE, BCONTENT, ENROLL_DATE, STATUS, REF_YN, PNO, B_LEVEL, MODIFY_DATE, BNO, B_COUNT)
		VALUES(SEQ_BID.NEXTVAL, '3' ,  '답변입니다.', #{bContent} ,SYSDATE, DEFAULT, DEFAULT, #{pno}, 1, SYSDATE, SEQ_BNO3.NEXTVAL, DEFAULT)	
	</insert>
	
	<update id="updateQuestion" parameterType="Board">
		UPDATE BOARD									
		SET REF_YN = 'Y'
		WHERE BID = #{pno}		
	</update>
	
	<select id="selectAnswerList" parameterType="Board" resultMap="boardResultSet2">
	 SELECT * FROM BOARD
	  WHERE BCODE='3'
	  AND PNO IN (SELECT BID FROM BOARD WHERE MID =#{mid})
	  AND STATUS ='Y'
	</select>
	
	<select id="selectAnswer"  parameterType="String" resultMap="boardResultSet2">
	 SELECT * FROM BOARD
	 WHERE BCODE='3'
	 AND PNO = #{bid}
	 AND STATUS ='Y'
	</select>
	
	<update id="deleteQuestion" parameterType="String">
	UPDATE BOARD
	SET STATUS ='N'
	WHERE BID = #{bid}
	</update>
	
	<update id="updateAnswer" parameterType="Board">
	UPDATE BOARD
	SET BCONTENT = #{bContent}
	WHERE BID = #{bid}	
	</update>
	
	<update id="deleteAnswer" parameterType="String">
	UPDATE BOARD
	SET STATUS = 'N'
	WHERE BID=#{bid}
	</update>
	
	
</mapper>
