<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	<resultMap id="memberResultSet" type="Member">
		<id property="mid" column="MID"/>                                               
		<result property="userId" column="USER_ID"/>                                    
		<result property="userPwd" column="USER_PWD"/>                                  
		<result property="userName" column="USER_NAME"/>                                
		<result property="email" column="EMAIL"/>                                       
		<result property="birth" column="BIRTH"/>                                       
		<result property="gender" column="GENDER"/>                                     
		<result property="phone" column="PHONE"/>                                       
		<result property="address" column="ADDRESS"/>                                   
		<result property="mCode" column="MCODE"/>                                       
		<result property="enrollDate" column="ENROLL_DATE"/>                            
		<result property="repCount" column="REP_COUNT"/>                                
		<result property="bizNo" column="BIZ_NO"/>                                   
		<result property="bizName" column="BIZ_NAME"/>                               
		<result property="bookCount" column="BOOK_COUNT"/>                              
	</resultMap>                                                                        
	                                                                                    
	<select id="loginCheck" resultMap="memberResultSet" parameterType="Member">
		<!-- SELECT * FROM MEMBER 
		WHERE USER_ID = #{userId} 
		AND USER_PWD = #{userPwd} 
		AND STATUS = 'Y' -->
		SELECT * FROM MEMBER WHERE USER_ID = #{userId} AND STATUS = 'Y'
	</select>
	
	<select id="selectPwd" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT USER_PWD FROM MEMBER WHERE USER_ID = #{userId} AND STATUS='Y'
	</select>
	
	<insert id="insertMember">
   	  	 INSERT INTO MEMBER 
    	  VALUES(SEQ_MID.NEXTVAL, #{userId} , #{userPwd} , #{userName} , #{birth} , #{phone} , #{email} , #{address}, '일반' , DEFAULT, #{repCount}, #{bizNo}, #{bizName}, ${bookCount}, #{gender}, SYSDATE)
 	</insert>
	<select id="selectMemberList" resultMap="memberResultSet" parameterType="Member" >
		 SELECT * FROM MEMBER 
 	 </select>
	
</mapper>