<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Reservation">
    <resultMap type="Reservation" id="reservationResultSet">
        <id property="rvid" column="RVID"/>
        <result property="rDate" column="R_DATE" />
        <result property="rTime" column="R_TIME" />
        <result property="rContent" column="R_CONTENT" />
        <result property="rPeople" column="R_PEOPLE" />
        <result property="status" column="STATUS" />
        <result property="mid" column="MID" />
        <result property="sid" column="SID" />
    </resultMap>
    <resultMap type="Reservation" id="reservationResultSet2">
        <id property="rvid" column="RVID"/>
        <result property="rDate" column="R_DATE" />
        <result property="rTime" column="R_TIME" />
        <result property="rContent" column="R_CONTENT" />
        <result property="rPeople" column="R_PEOPLE" />
        <result property="status" column="STATUS" />
        <result property="mid" column="MID" />
        <result property="sid" column="SID" />
        <result property="sName" column="SNAME" />
        <result property="userName" column="USER_NAME" />
    </resultMap>
    
    <select id="selectRcount" parameterType="_int" resultType="_int">
    SELECT COUNT(*)
    FROM RESERVATION R
    JOIN MEMBER M ON (M.MID = R.MID)
    WHERE M.MID=#{ mid } AND R.STATUS = 'Y'
    </select> 
    
    <select id="selectSrcount" parameterType="_int" resultType="_int">
    SELECT COUNT(*)
    FROM RESERVATION R
    JOIN STORE S ON (R.SID = S.SID)
    WHERE S.MID=#{ mid } AND R.STATUS = 'Y'
    </select> 
    
    <select id="selectReservList" resultMap="reservationResultSet2">
    SELECT *
    FROM RESERVATION R
    JOIN MEMBER M ON (M.MID = R.MID)
    JOIN STORE S ON (S.SID = R.SID)
    WHERE M.MID=#{ mid } AND R.STATUS IN ('Y', 'W') AND TO_CHAR(R.R_DATE, 'YYYYMMDD') >= TO_CHAR(SYSDATE, 'YYYYMMDD')
    ORDER BY R.R_DATE ASC
    </select>
    
    <select id="selectStoreReservList" resultMap="reservationResultSet2">
    SELECT *
    FROM RESERVATION R
    JOIN MEMBER M ON (M.MID = R.MID)
    JOIN STORE S ON (S.SID = R.SID)
    WHERE S.MID=#{ mid } AND R.STATUS IN ('Y', 'W') AND TO_CHAR(R.R_DATE, 'YYYYMMDD') >= TO_CHAR(SYSDATE, 'YYYYMMDD')
    ORDER BY R.R_DATE ASC
    </select>    
    
    <update id="cancelReservation">
    UPDATE RESERVATION
    SET STATUS='N'
    WHERE RVID = #{ rvid }
    </update>
    
    <update id="confirmReservation">
    UPDATE RESERVATION
    SET STATUS='Y'
    WHERE RVID = #{ rvid }
    </update>
    
    <select id="beforeReservationList" resultMap="reservationResultSet2">
    SELECT *
    FROM RESERVATION R
    JOIN MEMBER M ON (M.MID = R.MID)
    JOIN STORE S ON (S.SID = R.SID)
    WHERE M.MID=#{ mid } AND R.STATUS = 'Y' AND TO_CHAR(SYSDATE, 'YYYYMMDD') > TO_CHAR(R.R_DATE, 'YYYYMMDD')
    ORDER BY R.R_DATE ASC
    </select>
    
    <select id="beforeStoreReservationList" resultMap="reservationResultSet2">
    SELECT *
    FROM RESERVATION R
    JOIN MEMBER M ON (M.MID = R.MID)
    JOIN STORE S ON (S.SID = R.SID)
    WHERE S.MID=#{ mid } AND R.STATUS = 'Y' AND TO_CHAR(SYSDATE, 'YYYYMMDD') > TO_CHAR(R.R_DATE, 'YYYYMMDD')
    ORDER BY R.R_DATE ASC
    </select>
    
    <select id="requestReservationList" resultMap="reservationResultSet2">
    SELECT *
    FROM RESERVATION R
    JOIN MEMBER M ON (M.MID = R.MID)
    JOIN STORE S ON (S.SID = R.SID)
    WHERE S.MID=#{ mid } AND R.STATUS = 'W' AND TO_CHAR(R.R_DATE, 'YYYYMMDD') >= TO_CHAR(SYSDATE, 'YYYYMMDD')
    ORDER BY R.R_DATE ASC
    </select>
    
</mapper>