<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Reservation">
    <resultMap type="Reservation" id="reservationResultSet">
        <id property="rvid" column="RVID"/>
        <result property="rDate" column="R_DATE" />
        <result property="rTime" column="R_TIME" />
        <result property="rContent" column="R_CONTENT" />
        <result property="rPeople" column="R_PEOPLE" />
        <result property="status" column="STATUS" />
        <result property="mid" column="MID" />
        <result property="sid" column="SID" />
    </resultMap>
    <resultMap type="Reservation" id="reservationResultSet2">
        <id property="rvid" column="RVID"/>
        <result property="rDate" column="R_DATE" />
        <result property="rTime" column="R_TIME" />
        <result property="rContent" column="R_CONTENT" />
        <result property="rPeople" column="R_PEOPLE" />
        <result property="status" column="STATUS" />
        <result property="mid" column="MID" />
        <result property="sid" column="SID" />
        <result property="sName" column="SNAME" />
    </resultMap>
    
    <select id="selectRcount" parameterType="_int" resultType="_int">
    SELECT COUNT(*)
    FROM RESERVATION R
    JOIN MEMBER M ON (M.MID = R.MID)
    WHERE M.MID=#{ mid }
    </select> 
    
    <select id="selectReservList" resultMap="reservationResultSet2">
    SELECT *
    FROM RESERVATION R
    JOIN MEMBER M ON (M.MID = R.MID)
    JOIN STORE S ON (S.SID = R.SID)
    WHERE M.MID=#{ mid } AND R.STATUS = 'Y'
    </select>   
    
    <update id="cancelReserv">
    UPDATE RESERVATION
    SET STATUS='N'
    WHERE MID = #{ mid } AND RVID = #{ rvid }
    </update>
    
</mapper>