<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Review">
    <resultMap type="Review" id="reviewResultSet">
        <id property="rid" column="RID"/>
        <result property="enrollDate" column="ENROLL_DATEID" />
        <result property="rTitle" column="RTITLE" />
        <result property="rContent" column="RCONTENT" />
        <result property="sid" column="SID" />
        <result property="rpeople" column="STATUS" />
        <result property="status" column="STAR" />
        <result property="mid" column="MID" />
        <result property="taste" column="TASTE" />
        <result property="service" column="SERVICE" />
        <result property="price" column="PRICE" />
    </resultMap>
    
    <select id="selectReviewCount" parameterType="_int" resultType="_int">
    SELECT COUNT(*)
    FROM REVIEW R
    JOIN MEMBER M ON (M.MID = R.MID)
    WHERE M.MID=#{ mid }
    </select>
    
    <select id="selectReviewList" resultMap="reviewResultSet">
    SELECT *
    FROM REVIEW R
    JOIN MEMBER M ON (M.MID = R.MID)
    WHERE M.MID=#{ mid }
    </select>   
    
</mapper>