<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Review">
    <resultMap type="Review" id="reviewResultSet">
        <id property="rid" column="RID"/>
        <result property="enrollDate" column="ENROLL_DATE" />
        <result property="rTitle" column="RTITLE" />
        <result property="rContent" column="RCONTENT" />
        <result property="sid" column="SID" />
        <result property="status" column="STATUS" />
        <result property="star" column="STAR" />
        <result property="mid" column="MID" />
        <result property="taste" column="TASTE" />
        <result property="service" column="SERVICE" />
        <result property="price" column="PRICE" />
    </resultMap>
    <resultMap type="Review" id="reviewResultSet2">
        <id property="rid" column="RID"/>
        <result property="enrollDate" column="enrollDate" />
        <result property="rTitle" column="RTITLE" />
        <result property="rContent" column="RCONTENT" />
        <result property="sid" column="SID" />
        <result property="status" column="STATUS" />
        <result property="star" column="STAR" />
        <result property="mid" column="MID" />
        <result property="taste" column="TASTE" />
        <result property="service" column="SERVICE" />
        <result property="price" column="PRICE" />
        <result property="sName" column="SNAME" />
        <result property="mainPhoto" column="MAIN_PHOTO"/>
        <result property="writer" column="USER_NAME"/>
        <result property="storePhoto" column="storePhoto"/>
    </resultMap>
    
    <select id="selectReviewCount" parameterType="_int" resultType="_int">
    SELECT COUNT(*)
    FROM REVIEW R
    JOIN MEMBER M ON (M.MID = R.MID)
    WHERE M.MID=#{ mid } AND R.STATUS = 'Y'
    </select>
    
    <select id="selectSreviewCount" parameterType="_int" resultType="_int">
    SELECT COUNT(*)
    FROM REVIEW R
    JOIN STORE S ON (R.SID = S.SID)
    WHERE S.MID=#{ mid } AND R.STATUS = 'Y'
    </select>
    
    <select id="selectReviewList" resultMap="reviewResultSet2">
    SELECT S.MID, S.SNAME, M.USER_NAME, R.STAR, R.RCONTENT, R.MAIN_PHOTO, S.MAIN_PHOTO AS storePhoto, R.ENROLL_DATE AS enrollDate
    FROM REVIEW R
    JOIN MEMBER M ON (M.MID = R.MID)
    JOIN STORE S ON (S.SID = R.SID)
    WHERE M.MID=#{ mid } AND R.STATUS = 'Y'AND ROWNUM &lt;= 100
    ORDER BY R.RID DESC
    </select>
    
    <select id="selectStoreReviewList" resultMap="reviewResultSet2">
    SELECT S.MID, S.SNAME, M.USER_NAME, R.STAR, R.RCONTENT, R.MAIN_PHOTO, S.MAIN_PHOTO AS storePhoto, R.ENROLL_DATE AS enrollDate
    FROM REVIEW R
    JOIN MEMBER M ON (M.MID = R.MID)                                           
    JOIN STORE S ON (S.SID = R.SID)                                            
    WHERE S.MID=#{ mid } AND R.STATUS = 'Y'AND ROWNUM &lt;= 100                
    ORDER BY R.RID DESC                                                        
    </select>                                                                  
                                                                               
    <update id="deleteReview">                                                 
    UPDATE REVIEW                                                              
    SET STATUS='N'                                                             
    WHERE RID = #{ rid }                                                       
    </update>                                                                  
                                                                               
    <insert id="insertReview">                                                 
    INSERT INTO REVIEW(RID,ENROLL_DATE,RCONTENT,SID,STATUS,STAR,MID,MAIN_PHOTO)
    VALUES(SEQ_RVID.NEXTVAL, SYSDATE, #{rContent}, #{sid}, DEFAULT, #{star}, #{mid},#{mainPhoto})
    </insert>
    
    <select id="selectReveiw" resultMap="reviewResultSet2">
    	SELECT R.RID, TO_CHAR(R.ENROLL_DATE, 'YYYY-MM-DD HH24:MI:SS') AS enrollDate, R.RCONTENT, R.SID, R.STAR, R.MAIN_PHOTO, M.USER_NAME 
    	FROM REVIEW R
    	JOIN MEMBER M ON(M.MID = R.MID)
    	WHERE R.STATUS = 'Y'
    	AND R.SID = #{sid}
    	ORDER BY R.ENROLL_DATE DESC
    </select> 
    
</mapper>