<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Store">
	<resultMap id="storeResultSet" type="Store">
		<id property="sid" column="SID"/>                                               
		<result property="sName" column="SNAME"/>                                    
		<result property="phone" column="PHONE"/>                                  
		<result property="sCode" column="SCODE"/>                                
		<result property="bookYN" column="BOOK_YN"/>                                       
		<result property="address" column="ADDRESS"/>                                       
		<result property="sLocation" column="S_LOCATION"/>                                     
		<result property="sHours" column="SHOURS"/>                                       
		<result property="dayoff" column="DAYOFF"/>                                   
		<result property="sTable" column="S_TABLE"/>                                       
		<result property="budget" column="BUDGET"/>                            
		<result property="atmosphere" column="ATMOSPHERE"/>                                
		<result property="facilities" column="FACILITIES"/>                                   
		<result property="description" column="DESCRIPTION"/>                               
		<result property="keyword" column="COUPON_NO"/>       
		<result property="status" column="STATUS"/>    
		<result property="menu" column="MENU"/>    
		<result property="mainPhoto" column="MAIN_PHOTO"/>    
		<result property="subPhoto" column="SUB_PHOTO"/>    
		<result property="mid" column="MID"/>    
		<result property="star" column="STAR"/>    
	</resultMap>                                                                        
	
	<resultMap id="storeResultSet2" type="Store">
		<id property="sid" column="SID"/>                                               
		<result property="sName" column="SNAME"/>                                    
		<result property="phone" column="PHONE"/>                                  
		<result property="sCode" column="SCODE"/>                                
		<result property="bookYN" column="BOOK_YN"/>                                       
		<result property="address" column="ADDRESS"/>                                       
		<result property="sLocation" column="S_LOCATION"/>                                     
		<result property="sHours" column="SHOURS"/>                                       
		<result property="dayoff" column="DAYOFF"/>                                   
		<result property="sTable" column="S_TABLE"/>                                       
		<result property="budget" column="BUDGET"/>                            
		<result property="atmosphere" column="ATMOSPHERE"/>                                
		<result property="facilities" column="FACILITIES"/>                                   
		<result property="description" column="DESCRIPTION"/>                               
		<result property="keyword" column="COUPON_NO"/>       
		<result property="status" column="STATUS"/>    
		<result property="menu" column="MENU"/>    
		<result property="mainPhoto" column="MAIN_PHOTO"/>    
		<result property="subPhoto" column="SUB_PHOTO"/>    
		<result property="mid" column="MID"/>                                                                       
		<result property="rank" column="순위" />                                                                          
	</resultMap>                                                                                                                                                                                    
	
	<resultMap id="samResultSet" type="Sam">
		<id property="sid" column="SID"/>                                                     
		<result property="areaDong" column="AREA_DONG"/>                                       
		<result property="areaGoo" column="AREA_GOO"/>                                           
		<result property="areaSi" column="AREA_SI"/>                                
		<result property="restAddress" column="REST_ADDRESS"/>                                       
		<result property="restBoard" column="REST_BROAD"/>                                        
		<result property="restMenu" column="REST_MENU"/>                                        
		<result property="restName" column="REST_NAME"/>                                         
		<result property="restNumber" column="REST_NUMBER"/>                                     
		<result property="restUpstream" column="REST_UPSTREAM"/>                                     
		<result property="restX" column="REST_X"/>                                            
		<result property="restY" column="REST_Y"/>   
		<result property="writer" column="WRITER"/>
		<result property="content" column="CONTENT"/>
		<result property="photo" column="PHOTO"/>
		<result property="sid" column="SID"/>
		<result property="star" column="STAR"/>
		<result property="rank" column="순위" />
	</resultMap>                                                                            
	
	<resultMap id="couponResultSet" type="Coupon"> 
		<id property="cid" column="CID"/>                                                     
		<result property="cname" column="C_NAME"/>                                           
		<result property="cdate" column="C_ENDDATE"/>                                
		<result property="cterm" column="C_TERM"/>                                       
		<result property="cmethod" column="C_METHOD"/>                                        
		<result property="sid" column="SID"/>                                        
		<result property="enrollDate" column="ENROLL_DATE"/>                                        
	</resultMap>  
	
	<resultMap id="couponResultSet2" type="java.util.HashMap">
		<id property="cid" column="CID"/>
		<result property="cname" column="C_NAME"/>
		<result property="cdate" column="C_ENDDATE"/>
		<result property="cterm" column="C_TERM"/>
		<result property="cmethod" column="C_METHOD"/>
		<result property="sid" column="SID"/>
		<collection property="couponList" javaType="java.util.ArrayList" resultMap="storeResultSet"/>
	</resultMap>
            
	<resultMap id="storeSamResultSet" type="StoreSam">
		<id property="sid" column="SID"/>                                               
		<result property="sName" column="SNAME"/>                                    
		<result property="phone" column="PHONE"/>                                  
		<result property="sCode" column="SCODE"/>                                
		<result property="bookYN" column="BOOK_YN"/>                                       
		<result property="address" column="ADDRESS"/>                                       
		<result property="sLocation" column="S_LOCATION"/>                                     
		<result property="sHours" column="SHOURS"/>                                       
		<result property="dayoff" column="DAYOFF"/>                                   
		<result property="sTable" column="S_TABLE"/>                                       
		<result property="budget" column="BUDGET"/>                            
		<result property="atmosphere" column="ATMOSPHERE"/>                                
		<result property="facilities" column="FACILITIES"/>                                   
		<result property="description" column="DESCRIPTION"/>                               
		<result property="keyword" column="COUPON_NO"/>       
		<result property="status" column="STATUS"/>    
		<result property="menu" column="MENU"/>    
		<result property="mainPhoto" column="MAIN_PHOTO"/>    
		<result property="subPhoto" column="SUB_PHOTO"/>    
		<result property="mid" column="MID"/>    
		<result property="star" column="STAR"/>
		<result property="areaDong" column="AREA_DONG"/>                                       
		<result property="areaGoo" column="AREA_GOO"/>                                           
		<result property="areaSi" column="AREA_SI"/>                                
		<result property="restAddress" column="REST_ADDRESS"/>                                       
		<result property="restBoard" column="REST_BROAD"/>                                        
		<result property="restMenu" column="REST_MENU"/>                                        
		<result property="restName" column="REST_NAME"/>                                         
		<result property="restNumber" column="REST_NUMBER"/>                                     
		<result property="restUpstream" column="REST_UPSTREAM"/>                                     
		<result property="restX" column="REST_X"/>                                            
		<result property="restY" column="REST_Y"/>   
		<result property="writer" column="WRITER"/>
		<result property="content" column="CONTENT"/>
		<result property="photo" column="PHOTO"/>
		<result property="rank" column="순위" />    
	</resultMap>                
	
 	<insert id="insertStore" parameterType="Store">INSERT INTO STORE VALUES(SEQ_SID.NEXTVAL, #{sName} ,#{phone} , #{sCode}, #{bookYN} ,#{address} ,#{sLocation}, #{sHours} , #{dayoff} ,#{sTable} , #{budget},#{atmosphere},#{facilities},#{description} ,DEFAULT, #{keyword},DEFAULT,#{menu},#{mainPhoto},DEFAULT, #{mid} , null)</insert> 


	<select id="searchSam" resultMap="storeSamResultSet">
		SELECT DISTINCT REST_NAME ,REST_MENU ,REST_ADDRESS, REST_NUMBER, REST_UPSTREAM, REST_X, REST_Y, WRITER, CONTENT,PHOTO ,STAR
		FROM SAM 
		WHERE REST_ADDRESS LIKE '%' || #{searchKey} || '%' 
		OR REST_NAME LIKE '%' || #{searchKey} || '%' 
		ORDER BY STAR DESC
	</select>
	
	<select id="searchStore" resultMap="storeSamResultSet">
		SELECT * FROM STORE
		WHERE KEYWORD LIKE '%' || #{searchKey} || '%'
		ORDER BY STAR DESC
		
	</select>
	
	<select id="getSamListCount" resultType="_int">
		SELECT COUNT(REST_NAME) 
		FROM (SELECT DISTINCT REST_NAME 
     		  FROM (SELECT ROWNUM, REST_NAME FROM SAM WHERE REST_ADDRESS LIKE '%' || #{searchKey} || '%' OR REST_NAME LIKE '%' || #{searchKey} || '%') 
     		  WHERE ROWNUM &lt;= 100) 
	</select>
	
	<select id="getStoreListCount" resultType="_int">
		SELECT COUNT(*) FROM STORE 
		WHERE KEYWORD LIKE '%' || #{searchKey} || '%'
	</select>
	
	<select id="selectOneSam" resultMap="samResultSet">
		SELECT DISTINCT REST_ADDRESS ,REST_MENU ,REST_NAME, REST_NUMBER, REST_UPSTREAM, REST_X, REST_Y FROM SAM 
		WHERE REST_NAME = #{restName}
	</select>
	
	<select id="selectOneStore" resultMap="storeResultSet">
		SELECT * FROM STORE
		WHERE SID = #{sid}
		
	</select>
	
	<select id="selectAllStores" resultMap="storeResultSet">	
	SELECT *
	FROM STORE S
	  
	</select>
	
	<select id="getNewCouponCount" resultType="_int">
		 SELECT COUNT(*) FROM COUPON C JOIN STORE S ON(C.SID = S.SID) 
		 WHERE TO_DATE(SYSDATE) - TO_DATE(ENROLL_DATE) <![CDATA[ < ]]>= 7
		AND STAR IS NOT NULL ORDER BY C.C_ENDDATE DESC, S.STAR DESC
	</select>
	<select id="getBestCouponCount" resultType="_int">
		SELECT COUNT(*) FROM COUPON C JOIN STORE S ON(C.SID = S.SID) ORDER BY S.STAR DESC
	</select>
	<select id="getAlmostOverCouponCount" resultType="_int">
		SELECT COUNT(*) FROM COUPON C JOIN STORE S ON(C.SID = S.SID)
		WHERE TO_DATE(C_ENDDATE) - TO_DATE(SYSDATE) <![CDATA[ < ]]>= 7
		AND TO_DATE(C_ENDDATE) - TO_DATE(SYSDATE) >= 0
		AND STAR IS NOT NULL ORDER BY C.C_ENDDATE ASC, S.STAR DESC
	</select>

	<select id="selectNewCoupon" resultMap="couponResultSet2">
		SELECT * FROM COUPON C JOIN STORE S ON(C.SID = S.SID) 
    	WHERE TO_DATE(SYSDATE) - TO_DATE(ENROLL_DATE) <![CDATA[ < ]]>= 7
    	AND STAR IS NOT NULL
    	ORDER BY C.C_ENDDATE DESC, S.STAR DESC
	</select>
	<select id="selectBestCoupon" resultMap="couponResultSet2">
		SELECT C.CID, C.C_NAME, C.SID, S.SNAME, S.SCODE, S.ADDRESS, S.DESCRIPTION, S.KEYWORD, S.MAIN_PHOTO, S.STAR
		FROM COUPON C JOIN STORE S ON(C.SID = S.SID) ORDER BY S.STAR DESC
	</select>
	<select id="selectAlmostOverCoupon" resultMap="couponResultSet2">
		SELECT * FROM COUPON C JOIN STORE S ON(C.SID = S.SID) 
    	WHERE TO_DATE(C_ENDDATE) - TO_DATE(SYSDATE) <![CDATA[ < ]]>= 7
    	AND TO_DATE(C_ENDDATE) - TO_DATE(SYSDATE) <![CDATA[ > ]]>= 0
    	AND STAR IS NOT NULL
    	ORDER BY C.C_ENDDATE ASC, S.STAR DESC
	</select>

	<select id="selectRestType" resultMap="storeSamResultSet" parameterType="String">
	SELECT *
	FROM (SELECT SID, SNAME, PHONE, SCODE, BOOK_YN, ADDRESS,
  	S_LOCATION, SHOURS, DAYOFF, S_TABLE, BUDGET, ATMOSPHERE, FACILITIES, DESCRIPTION,
 	COUPON_NO, KEYWORD, STATUS, MENU, MAIN_PHOTO, SUB_PHOTO, MID, STAR,
 	DENSE_RANK() OVER(ORDER BY STAR DESC)순위
   	FROM STORE WHERE SCODE=#{query}) 
	WHERE 순위 &lt;= 10	
	</select>
			
	
	<select id="selectSamThemeListCat" resultMap="storeSamResultSet" parameterType="String">
	SELECT *
	FROM ( SELECT ROWNUM, AREA_DONG, AREA_SI, REST_ADDRESS, REST_BROAD, REST_MENU, SID, REST_NAME,
	REST_UPSTREAM , REST_NUMBER, REST_X, REST_Y, WRITER, CONTENT, PHOTO, STAR,
	DENSE_RANK() OVER(ORDER BY STAR DESC)순위
	FROM SAM
	WHERE REST_UPSTREAM = #{query})
	WHERE ROWNUM &lt;=10		
	</select>
	
	<select id="selectMenu" resultMap = "storeSamResultSet">
	SELECT *
	FROM (SELECT ROWNUM, AREA_DONG, AREA_SI, REST_ADDRESS, REST_BROAD, REST_MENU, SID, REST_NAME,
	REST_UPSTREAM , REST_NUMBER, REST_X, REST_Y, WRITER, CONTENT, PHOTO, STAR,
	DENSE_RANK() OVER(ORDER BY STAR DESC)순위 
	FROM SAM
	WHERE REST_MENU LIKE '%' ||#{query} || '%' )
	WHERE ROWNUM &lt;=10
	</select>
	
	<select   id="selectMenuStore" resultMap = "storeSamResultSet">
	SELECT *
	FROM (SELECT ROWNUM, SID, SNAME, PHONE, SCODE, BOOK_YN, ADDRESS,
  	S_LOCATION, SHOURS, DAYOFF, S_TABLE, BUDGET, ATMOSPHERE, FACILITIES, DESCRIPTION,
 	COUPON_NO, KEYWORD, STATUS, MENU, MAIN_PHOTO, SUB_PHOTO, MID, STAR,
 	DENSE_RANK() OVER(ORDER BY STAR DESC)순위
   	FROM STORE WHERE MENU LIKE '%' ||#{query} || '%') 
	WHERE ROWNUM  &lt;= 10
	
	</select>
	
	<select id="selectMenuMeat" resultMap = "storeSamResultSet">
	SELECT *
	FROM (SELECT ROWNUM, AREA_DONG, AREA_SI, REST_ADDRESS, REST_BROAD, REST_MENU, SID, REST_NAME,
	REST_UPSTREAM , REST_NUMBER, REST_X, REST_Y, WRITER, CONTENT, PHOTO, STAR,
	DENSE_RANK() OVER(ORDER BY STAR DESC)순위 
	FROM SAM
	WHERE REST_MENU LIKE '%' || '고기' || '%' OR REST_MENU LIKE '%' || '곱창' || '%')
	WHERE ROWNUM &lt;=10
	</select>
	

	<select id="getSid" resultType="_int">
		SELECT SID FROM STORE WHERE MID = #{mid}
	</select>
	
	<insert id="insertCoupon" parameterType="Coupon">
		INSERT INTO COUPON
		VALUES(SEQ_CNO.NEXTVAL, #{cname}, #{cdate}, #{cterm}, #{cmethod}, #{sid}, SYSDATE)
	</insert>
	
	<select id="selectCouponsList" resultMap="couponResultSet">
		SELECT * FROM COUPON WHERE SID=#{sid} ORDER BY ENROLL_DATE DESC
	</select>
	
	<select id="searchBySName"  resultMap = "storeSamResultSet" parameterType="map">
	SELECT * FROM STORE
	WHERE SNAME LIKE '%' ||#{search} || '%' 
	</select>
	
	<select id="searchByPhone"  resultMap = "storeSamResultSet" parameterType="map">
	SELECT * FROM STORE
	WHERE PHONE LIKE '%' ||#{search} || '%' 
	</select>
	
	<select id="searchBySCode"  resultMap = "storeSamResultSet" parameterType="map">
	SELECT * FROM STORE
	WHERE SCODE LIKE '%' ||#{search} || '%' 
	</select>
	
	
</mapper>



