<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Store">
	<resultMap id="storeResultSet" type="Store">
		<id property="sid" column="SID"/>                                               
		<result property="sName" column="SNAME"/>                                    
		<result property="phone" column="PHONE"/>                                  
		<result property="sCode" column="SCODE"/>                                
		<result property="bookYN" column="BOOK_YN"/>                                       
		<result property="address" column="ADDRESS"/>                                       
		<result property="sLocation" column="S_LOCATION"/>                                     
		<result property="sHours" column="SHOURS"/>                                       
		<result property="dayoff" column="DAYOFF"/>                                   
		<result property="sTable" column="S_TABLE"/>                                       
		<result property="budget" column="BUDGET"/>                            
		<result property="atmosphere" column="ATMOSPHERE"/>                                
		<result property="facilities" column="FACILITIES"/>                                   
		<result property="description" column="DESCRIPTION"/>                               
		<result property="keyword" column="COUPON_NO"/>       
		<result property="status" column="STATUS"/>    
		<result property="menu" column="MENU"/>    
		<result property="mainPhoto" column="MAIN_PHOTO"/>    
		<result property="subPhoto" column="SUB_PHOTO"/>    
		<result property="mid" column="MID"/>    
	</resultMap>                                                                        
	
	<resultMap id="samResultSet" type="Sam">                                                   
		<result property="areaDong" column="AREA_DONG"/>                                       
		<result property="areaGoo" column="AREA_GOO"/>                                           
		<result property="areaSi" column="AREA_SI"/>                                
		<result property="restAddress" column="REST_ADDRESS"/>                                       
		<result property="restBoard" column="REST_BROAD"/>                                        
		<result property="restMenu" column="REST_MENU"/>                                        
		<result property="restName" column="REST_NAME"/>                                         
		<result property="restNumber" column="REST_NUMBER"/>                                     
		<result property="restUpstream" column="REST_UPSTREAM"/>                                     
		<result property="restX" column="REST_X"/>                                            
		<result property="restY" column="REST_Y"/>                                            
	</resultMap>                                                                        
	
	<insert id="insertStore">
<!--    	  	 INSERT INTO STORE 
    	  VALUES(SEQ_MID.NEXTVAL, #{sName} , #{sCode}, #{phone} ,#{bookYN} ,#{address} ,#{sLocation}
    	  , #{sHours} ,#{dayoff} ,#{sTable} , #{budget},#{atmosphere},#{facilities},#{description}
    	  , 7,7,7,7,7,7,7) -->
 	</insert>

	<select id="searchResult" resultMap="samResultSet">
		SELECT DISTINCT REST_ADDRESS ,REST_MENU ,REST_NAME, REST_NUMBER, REST_UPSTREAM, REST_X, REST_Y FROM SAM 
		WHERE REST_ADDRESS LIKE '%' || #{searchKey} || '%' 
		AND ROWNUM &lt;= 100
	</select>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(DISTINCT REST_ADDRESS) FROM SAM 
		WHERE REST_ADDRESS LIKE '%' || #{searchKey} || '%' 
		AND ROWNUM &lt;= 100
	</select>
	
	<select id="selectOneSam" resultMap="samResultSet">
		SELECT DISTINCT REST_ADDRESS ,REST_MENU ,REST_NAME, REST_NUMBER, REST_UPSTREAM, REST_X, REST_Y FROM SAM 
		WHERE REST_NAME = #{restName}
	</select>
	
</mapper>



