@charset "UTF-8";

/* header */
.header{
	width: 100%;
	max-width: 640px;
	box-sizing: border-box;
	position: fixed;
}
#go-back{
	position: absolute;
	left: 3%;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}

.storeView img{
	width: 100%;
}
.storeInfo{
	padding: 3%;
	text-align: center;
}
.storeInfo .name{
	font-size: 15px;
	color: #333;
	font-weight: bold;	
}

/* 별점 */
.icon-star{
	display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url(/fooding/resources/images/common/icon-rank-small.png);
    margin: 0 -3px -2px 0;
}
.rankOff{
	background-position-y: 19px;
}