
@charset "UTF-8";


* {box-sizing: border-box}


/* Style the tab */
.tab {
    float: left; 
    background-color: #f1f1f1;
    width: 20%;
    height:70%;
    /*position: fixed;
     z-index: 1;     
    left: 0;
    bottom:50; */
    
    
}

/* Style the buttons inside the tab */
.tab button {
    /* display: block; */
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    border-right: 1px solid #ccc;
    border-bottom:1px solid #ccc;
    outline: none;
    text-align: center;
    height: 164px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;    
    border: 1px solid #ccc;
    width: 80%;
    height:auto !important;
    border-left: none;       
   
}

.tableArea{
	background-color:white;	
	overflow:auto;
	height: 500px;
	
}

h3{
	margin-top: 30px;
    margin-bottom: 30px;	
}

.tableList td:hover{
	cursor:pointer !important;
}

.tableList td{
		text-align:center;
}
.tableRow td{
	
		overflow:hidden;	
		width:100px ;
		text-overflow: ellipsis;
}

.tableList tr:hover {
	background:lightgray;
}

.tableList th {
	background:#ec3e43;
	padding-bottom: 20px;
	padding-top: 20px;
	color:white;
	
}

.tableList input[type=text] {
	width:80px;
}

input[type=search]{
	border: 0;
	padding: 4px 10px;
	border-radius: 5px;
	border:1px solid lightgray;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	width: 400px;
}

input[type=date]{
	height: 40px;
	width: 200px;	
	border-radius:2px;
	border:1px solid lightgray;
}

select{
	height: 40px;
	width: 100px;	
	border-radius:2px;
	border:1px solid lightgray;
}

.searchBtn {
    color: #fff;
    background: #ec3e43;
    border: 0;
    border-right: 2px solid #cc272b;
    border-bottom: 2px solid #cc272b;
    border-radius: 5px;
    height: 40px;
    padding: 0 20px;
    cursor: pointer;
}

.titles{
	padding-bottom: 10px;
    padding-top: 10px;
    background-color:#ec3e43;
    color:white;
    
    text-align:center;
	
}
