@charset "UTF-8";
@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 700;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 300;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic *  {
	font-family: 'NanumBarunGothic', sans-serif;
}

li span {
 line-height: 1.8;
 font-size: 1.3em;
}

.overflow{ overflow: hidden; }
.fl{ float: left; }
.fr{ float: right; }

.wrap{
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0;
}

button{
	color: #fff;
    background: #ec3e43;
    border: 0;
    border-right: 2px solid #cc272b;
    border-bottom: 2px solid #cc272b;
    border-radius: 5px;
    height: 40px;
    padding: 0 20px;
    cursor: pointer;
}


/* header */
.header{
	width: 100%;
	background: #FF5A5F;
	position: fixed;
	overflow: hidden;
	z-index: 1;
}
.header .wrap{
	overflow: hidden
}
.header form{
	float: left;
	width: 500px;
	position: relative;
}

.logo{
	width: 100px;
	height: 28px;
	background-image: url('../images/common/logo.png');
	background-size: cover;
	text-indent: 9999px;
	float: left;
	margin: 8px 60px 0 0;
	cursor: pointer;
}

.gnb{
	width: 100%;
	overflow: hidden;
	background: #fff;
	border-bottom: 1px solid #ddd;
}
.gnb ul{
	width: 1200px;
	margin: 0 auto;
	padding-left: 170px;
    box-sizing: border-box;
}
.gnb li{
	float: left;
	margin-right: 40px;
	padding: 10px 0;
	cursor: pointer;
}
.gnb li:hover{
	color: #ff5a5f;
}

input[type=search]{
	border: 0;
	padding: 4px 10px;
	border-radius: 5px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	width: 400px;
}

.srch-btn {
	position: absolute;
	top:0;
	left: 410px;
}

.loginArea{
	float: right;
	margin-top: 13px;
}
.loginArea ul{
	overflow: hidden;
}
.loginArea li{
	float: left;
	font-size: 13px;
	color: #fff;
	margin-left: 10px;
	cursor: pointer;
}
.loginArea li:nth-child(2){
	cursor: default;
}

/* footer */
.footer{
	background: #474747;
	clear:both;
	padding: 20px 0;
}
.footer .wrap{
	position: relative;
}
.footer *{
	color: #fff;
	font-size: 13px;
	line-height: 1.8em;
}
.footer img{
	width: 90px;
}
.footer p{
	margin: 10px 0;
}
.foot_menu{
	overflow: hidden;
	position: absolute;
	top: 20px;
	right: 0;
}
.foot_menu li{
	float: left;
	margin-left: 20px;
}
.foot_menu li:nth-child(even){
	cursor: default;
}
.foot_menu li:hover{
	color: #ddd;
}
.copyright li{
	font-size: 12px;
	cursor: default;
}


/* common */
.container{
	padding: 97px 0 140px 0;
}
h3{
	font-size: 20px;
	margin: 80px 0 50px 0;
	text-align: center;
	color: #444;
}
.content > div {
	position: relative;
}
.more{
	position: absolute;
	top: 30px;
	right: 0;
	font-size: 14px;
	cursor: pointer;
}

#sign {
	width: 440px;
	height: 555px;
	text-align: center;
	margin:0 auto;
	background-color:white;
}

.input {
	width: 390px;
	height: 47px;
	border: 1px solid #CCCCCC;
	padding-left: 10px;
}

#userId {
	margin-top: 50px;
}

.button {
	margin: 20px;
	width: 390px;
	height: 47px;
}

.hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

#title {
	font-size: 25px;
	font-weight: bold;
}

.loginBtn {
	background: #ff5a5f; 
}

#joinBtn {
	background: white;
	border: 1px solid #ff5a5f;
	color: #ff5a5f;
}

#sign>.body>div>.forgot {
	font-size: 12px;
	color: #969696;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 39px;
}

#sign>.body>div>.forgot>a {
	color: #c91b3c;
	cursor: pointer;
}

a {
	text-decoration: none;
}
.login{
	padding-top:50px;
}
.xBtn{
	margin: 15px;
}
.xBtn:hover{
	cursor:pointer;
}