@charset "UTF-8";
.content{
	width: 1000px;
	margin: 0 auto;
}

/* 메인 슬라이더 */
.caroursel{
	background: #000;
	height: 440px;
}

.swiper-container {
	width: 900px;
	height: 100%;
	margin: 0 auto;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide img{
	width: 100%;
}
#add-arrows{
	margin: 0 auto;
	position: relative;
	width: 900px;
	margin-top: -234px;
	z-index: 2;
}
#add-arrows #swiper-button-next{
    width: 51px;
    height: 51px;
    right: -25px;
    bottom: -194px;
    background: url(/fooding/resources/images/common/common.png) -954px -184px;
}

#add-arrows #swiper-button-prev{
    width: 51px;
    height: 51px;
    left: -25px;
    bottom: -194px;
	background: url(/fooding/resources/images/common/common.png) -898px -184px;
}

/* 다이닝 티켓 */
.dining-ticket ul{
	overflow: hidden;
}
.dining-ticket li{
	float: left;
	background: #d1d1d1;
	border-radius: 6px;
	margin-right: 20px;
	width: 320px;
	height: 320px;
	text-align: center;
	box-sizing: border-box;
	background-size: cover;
	
}
.dining-ticket li:nth-child(3n){
	margin-right: 0;
}
.dining-ticket .bg{
	width: 320px;
	height: 320px;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.3);
	display: table-cell;
	vertical-align: middle;
}
.dining-ticket .bg:hover{
	background-color: rgba(0, 0, 0, 0.6);
}
.dining-ticket p{
	color: #fff;
	font-size: 16px;
}
.dining-ticket span{
	color: inherit;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 5px 10px;
	line-height: 4em;
	font-size: 1.1em;
}

/* 테마별 레스토랑 */
.recomd-wrap{
	overflow: hidden;
}
.recomds{
	width: 320px;
	height: 230px;
	border-radius: 6px;
	float: left;
	cursor: pointer;
	background-size: cover;
	text-align: center;
}
.recomds:nth-child(2n){
	margin-left: 20px;
	margin-right: 20px;
}
.recomds:nth-child(4),
.recomds:nth-child(5){
	margin-top: 20px;
}
.recomd01{
	height: 480px;
	cursor: default;
}
.recomds .bg{
	width: inherit;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.3);
}
.recomds .bg:hover{
	background-color: rgba(0, 0, 0, 0.6);
}
.recomds p{
	line-height: 230px;
	color: #fff;
}