@charset "UTF-8";

body {
	line-height: 1;
	background-color: #f3f3f3;
}

a {
	text-decoration: none;
}

/* 마이페이지 배너(프로필 사진, 이름, 소개 등) */
#banner_wrap {
	width: 100%;
}

#banner {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 420px;
	background-size: cover;
	background-position: center center;
	background: #615955;
}

#banner.user {
	height: 330px;
}

#banner.user>.inner_wrap {
	display: block;
	width: 970px;
	height: 100%;
	margin: 0 auto;
	font-weight: 500;
}

#banner.user>.inner_wrap>.inner {
	position: relative;
}

/* 프로필 이름, 소개, 예약&리뷰 카운트 */
#banner.user>.inner_wrap>.inner>.name {
	position: absolute;
	top: 115px;
	left: 196px;
	font-size: 24px;
	color: #fff;
}

#banner.user>.inner_wrap>.inner>.name>span {
	vertical-align: bottom;
	color: inherit;
}

#banner.user>.inner_wrap>.inner>.intro {
	position: absolute;
	top: 150px;
	left: 196px;
	font-size: 16px;
	color: #fff;
}

#banner.user>.inner_wrap>.inner>.info {
	position: absolute;
	top: 200px;
	left: 198px;
	font-size: 14px;
	color: #fff;
}

#banner.user>.inner_wrap>.inner>.info>.item {
	display: inline-block;
	margin-right: 7px;
	color: #fff;
	font-size: 14px;
}

#file {
	display: none;
}

/* 마이페이지 탭 & 내용 */
#content_wrap {
	position: relative;
	width: 970px;
	margin: 20px auto 150px;
}

#content {
	float: left;
	position: relative;
	width: 730px;
}

#content>.tab {
	width: 729px;
	padding: 0 6px;
	border: 1px solid #e3e3e3;
	border-top: 2px solid #ff5a5f;
	background: #fff;
}

ol, ul {
	list-style: none;
}

#content>.tab>.item {
	float: left;
	width: 80px;
	height: 37px;
	color: #444;
	font-size: 17px;
	font-weight: 600;
	text-align: center;
	line-height: 34px;
}

/* 탭 내용 */
#content.mypage>.body.empty {
	margin-bottom: 0;
}

#content>.body.empty {
	width: 729px;
	padding: 0;
	border: none;
	background: 0 0;
}

#content>.body {
	position: relative;
	width: 668px;
	padding: 30px;
	margin-bottom: 30px;
	border: 1px solid #e3e3e3;
	background: #fff;
}

/* 방문 예정 예약 | 지난 예약 */
#content.mypage>.body>.filter {
	margin: 10px 0;
	text-align: right;
	font-size: 10pt;
	cursor:pointer;
}

#content.mypage>.body>.filter>a {
	position: relative;
}

#content.mypage>.body>.filter>a:not (:first-child ) {
	margin-left: 16px;
}

#content.mypage>.body>.filter>a:not(:first-child):before {
    content: " | ";
}

/* 탭 내용 */
#content>.body.coupon>table>tbody>tr>td.status, #content>.body.payment>.blank,
	#content>.body.payment>table>tbody>tr>td.order, #content>.body.payment>table>tbody>tr>td.status,
	#content>.body>.blank {
	text-align: center;
}

#content>.body>.blank {
	background: #fff;
	padding: 150px;
	color: #969696;
	font-size: 17px;
	border: 1px solid #e3e3e3;
}

#content, #content>.body:after, #content>.tab:after, #content_wrap:after
	{
	content: "";
	display: block;
	clear: both;
}

#content>.body>.blank>.message {
	margin-bottom: 30px;
	color: #969696;
	font-size: 12pt;
	line-height: 25px;
}

#content>.body>.blank>button {
	width: 180px;
	height: 36px;
	font-size: 11pt;
}

#nav_city>ul, .card-area.disable, button.disable {
	display: none;
}

button {
	cursor: pointer;
}

/* 예약 내용 */
#content>.list {
    overflow: hidden;
}
#content>.body {
    position: relative;
    width: 729px;
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid #e3e3e3;
    background: #fff;
}

#content.mypage>.body#reservation>.list {
    position: relative;
    width: 729;
    padding: 10px 30px;
    margin-bottom: 30px;
    border: 1px solid #e3e3e3;
    background: #fff;
}

#content.mypage>.body>.list>.reservation:last-child {
    border: none;
}
#content.mypage>.body>.list>.reservation {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e3;
}

#content.mypage>.body>.list>.reservation>.image {
    float: left;
    width: 84px;
    height: 84px;
}

#content.mypage>.body>.list>.reservation>.info {
    padding-left: 98px;
    padding-top: 3px;
    color: #444;
}

#content.mypage>.body>.list>.reservation>.info>.name {
    margin-bottom: 10px;
    font-size: 0;
    font-weight: 600;
}

#content.mypage>.body>.list>.reservation>.info>.name>a {
    color: #444;
    font-size: 12pt;
}

#content.mypage>.body>.list>.reservation>.info>.name>.label.blue {
    background: #4f9ed9;
}

#content.mypage>.body>.list>.reservation>.info>.name>.label.green {
    background: #2f7d09;
}

#content.mypage>.body>.list>.reservation>.info>.name>.label {
    padding: 2px 5px;
    margin-left: 4px;
    color: #fff;
    font-size: 9pt;
    letter-spacing: -1px;
    font-weight: 400;
}
.border_radius.soft {
    border-radius: 3px;
}

#content.mypage>.body>.list>.reservation>.info>.coupon, #content.mypage>.body>.list>.reservation>.info>.date, #content.mypage>.body>.list>.reservation>.info>.party_size, #content.mypage>.body>.list>.reservation>.info>.request {
    margin-bottom: 2px;
    line-height: 14px;
    font-size: 10pt;
}

#content.mypage>.body>.list>.reservation>button {
    position: absolute;
    width: 107px;
    line-height: 27px;
    top: 40px;
    right: 0;
    text-align: center;
    padding: 0;
    font-size: 13px;
}
.border_radius.soft {
    border-radius: 3px;
}
button.red {
    color: #ff5a5f;
    background: #fff;
}

button.red.on, button.red:hover, button.red_fill {
    color: #fff;
    background: #ff5a5f;
}

button.red, button.red_fill {
    border: 1px solid #ff5a5f;
}
#content.mypage>.body>.list>.reservation:after {
    content: "";
    display: block;
    clear: both;
}
#content, #content>.body:after, #content>.tab:after, #content_wrap:after {
    content: "";
    display: block;
    clear: both;
}

/* 리뷰, 문의 내용 */
#content>.list {
    overflow: hidden;
}

#content.mypage>.body.list.review_wrap>.review, #content.mypage>.body.list.question_wrap>.question {
    padding: 0 44px;
    margin: 0;
}
.review_wrap>.review, .question_wrap>.question{
    background: #fff;
    padding: 30px 75px;
    margin-bottom: 20px;
}
.review_wrap>.review>.place, .question_wrap>.question>.user {
    display: block;
    padding-bottom: 15px;
    overflow: auto;
}
.review_wrap>.review>.place>.thumbnail, .question_wrap>.question>.user>.userProfile {
    float: left;
    width: 45px;
    height: 45px;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    margin-right: 13px;
}
.review_wrap>.review>.place>.thumbnail~.name {
    margin-top: 7px;
}
.question_wrap>.question>.user>.userProfile~.userName {
	margin-top: 8px;
}
.review_wrap>.review>.place>.name, .question_wrap>.question>.user>.userName {
    color: #323232;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
}
.review_wrap>.review>.place>.info {
    color: #828282;
    font-size: 12px;
}
.review_wrap>.review>.body {
    border-top: solid #dcdcdc;
    border-width: 1px 0;
    padding: 17px 0 22px;
}
.question_wrap>.question>.body {
    border: solid #dcdcdc;
    border-width: 1px 0;
    padding: 17px 0 35px;
}
.review_wrap>.review>.body>.time {
    display: none;
    float: right;
    font-size: 10px;
    color: #969696;
    line-height: 19px;
}
.question_wrap>.question>.user>.time {
	display: none;
    font-size: 10px;
    color: #969696;
    line-height: 19px;
}
.review_wrap>.review>.body>.text, .question_wrap>.question>.body>.text {
    line-height: 16px;
    margin-bottom: 17px;
    word-wrap: break-word;
    font-size: 12px;
}
.question_wrap>.question>.reply_wrap>.reply>.text {
    line-height: 16px;
    margin-bottom: 17px;
    word-wrap: break-word;
    font-size: 13px;
}
.review_wrap>.review>.body>.action>button {
    line-height: 27px;
    padding: 0 3px;
    border: 1px solid #969696;
    color: #969696;
    background: #fff;
    border-radius: 4px;
    margin-right: 6px;
    font-size: 0;
}
.review_wrap>.review>.body>.action>.article, .question_wrap>.question>.body>.action>.article {
    float: right;
}
.review_wrap>.review>.body>.action>.article>button, .question_wrap>.question>.body>.action>.article>button {
    font-size: 11px;
    color: #969696;
    margin-right: 5px;
    border: 0;
    padding: 0;
    background: 0;
}

#content, #content>.body:after, #content>.tab:after, #content_wrap:after {
    content: "";
    display: block;
    clear: both;
}



/* 문의 답변 */
.question>.answer_list, .question_wrap>.question>.write {
    margin-top: 20px;
}
.question>.answer_list.on>.comment, .question>.answer_list>.answer:first-child {
    display: block;
}
.question>.answer_list>.answer {
    display: none;
    overflow: hidden;
    margin-bottom: 15px;
}
.question>.answer_list>.answer>.author>.time {
    display: none;
    float: right;
    font-size: 10px;
    margin-right: 5px;
}
.question>.answer_list>.answer>.author>.name {
    display: inline-block;
    color: #323232;
    font-weight: 600;
    margin-bottom: 6px;
    font-size:14px;
}
.question>.answer_list>.answer>.author>.text {
    line-height: 14px;
    font-size: 12px;
    white-space: pre-wrap;
}
.question>.answer_list>.text {
    line-height: 14px;
    font-size: 12px;
    white-space: pre-wrap;
}
.question>.answer_list>.answer>.author>.action {
    text-align: right;
}
.question>.answer_list>.answer>.author>.action>button {
    font-size: 11px;
    color: #969696;
    margin-right: 5px;
    border: 0;
    padding: 0;
    background: 0;
}


/* 리뷰 별점 */
.review_wrap>.review>.body>.grade {
    margin-bottom: 10px;
}
i.icon.star.medium.odd.active {
    background-position: -277px -42px;
}
i.icon.star.medium.odd {
    background-position: -277px -66px;
}
.review_wrap>.review>.body>.grade>* {
    vertical-align: middle!important;
}
i.icon.star.medium {
    width: 10px;
    height: 19px;
}
i {
    width: 100%;
    height: 100%;
    background-image: url(http://c1.poing.co.kr/original/images/recent_sheet.png);
}
i.icon.star.medium.even.active {
    background-position: -287px -42px;
}
i.icon.star.medium.even {
    background-position: -287px -66px;
    padding-right: 2px;
}

i, input[type=checkbox].slide-toggle+label span {
    background-repeat: no-repeat;
    display: inline-block;
}
.review_wrap>.review>.body>.grade>span {
    margin-left: 5px;
    font-size: 12px;
}

/* 리뷰 페이징 */
div.page-list {
    text-align: center;
}
div.page-list>ul.pagination {
    margin-top: 10px;
}
ol, ul {
    list-style: none;
}
div.page-list>ul.pagination>li {
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #969696;
}
div.page-list>ul.pagination>li.active {
    color: #FF5A5F;
    font-weight: 600;
    font-size: 11pt;
}

/* 사이드바(캘린더) */
#sidebar_wrap {
	float: right;
	position: relative;
	width: 220px;
}

#sidebar_wrap>.sidebar:first-child {
	margin-top: 0;
}

#sidebar_wrap>.sidebar {
	margin-top: 20px;
	padding: 10px;
	border: 1px solid #e3e3e3;
	border-top: 2px solid #ff5a5f;
	background: #fff;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

#sidebar_wrap>.sidebar>.title {
	padding-bottom: 10px;
	border-bottom: 1px solid #dfdfdf;
	/* color: #c91b3c; */
	font-size: 12pt;
	font-weight: 600;
	text-align: center;
}

#reservation_calendar {
	padding: 10px 0 !important;
}

#reservation_calendar>.calendar {
	padding-bottom: 10px;
	border-bottom: 1px solid #e3e3e3;
}

/* 캘린더 마커 */
#reservation_calendar>.desc {
	padding: 10px 10px 0;
	font-size: 10pt;
}

#reservation_calendar>.desc>.recent {
	margin-right: 2px;
	background: #4f9ed9;
}

#reservation_calendar>.desc>.past {
	margin-right: 2px;
	background: #969696;
}

#reservation_calendar>.desc>.coupon {
	background: url(http://c1.poing.co.kr/original/images/recent_sheet.png)
		-186px -125px;
	margin: 5px 2px 0 0;
}

#reservation_calendar>.desc>.coupon, #reservation_calendar>.desc>.past,
	#reservation_calendar>.desc>.recent {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: bottom;
}

#reservation_calendar>.desc>.text.margin {
	margin-right: 17px;
}

#reservation_calendar>.desc>.text {
	line-height: 20px;
}


/* 캘린더 */
@main-bg:rgb(40,40,59);
@calendar-border:rgb(220,220,255);
@calendar-bg:#fff;
@calendar-standout:rgb(40,40,59);
@calendar-color:#444;
@calendar-fade-color:#c0c0c0;
@body-color:#444;

*, *:before, *:after {
  box-sizing:border-box;
}

.group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

img {
  max-width:100%;
  height:auto;
  vertical-align:baseline;
}

a {
  text-decoration:none;
}

.max(@maxWidth;
  @rules) {
    @media only screen and (max-width: @maxWidth) {
      @rules();
    }
  }

.min(@minWidth;
  @rules) {
    @media only screen and (min-width: @minWidth) {
      @rules();
    }
  }


.calendar-wrapper {
  width:220px;
  margin:0 auto;
  padding:10px;
  border:1px solid @calendar-border;
  border-radius:5px;
  background:@calendar-bg;
  
}
table {
  clear:both;
  width:100%;
  border:1px solid @calendar-border;
  border-radius:3px;
  border-collapse:collapse;
  color:@calendar-color;
  font-size: 13px;
}
td {
  height:30px;
  text-align:center;
  vertical-align:middle;
  border-right:1px solid @calendar-border;
  border-top:1px solid @calendar-border;
  width:100% / 7;
}

td:first-child{
	color:#ff5a5f;
}

td:last-child{
	color:#4f9ed9;
}

td.not-current {
	color: white;
}

td.today {
  font-weight:bold;
  color:#333;
}
thead th {
  border:none;
  color:@calendar-standout;
  text-transform:uppercase;
  font-size:16px;
  height: 25px;
}
#btnPrev {
  float:left;
  margin-bottom:10px;
  &:before {
    content:'\f104';
    font-family:FontAwesome;
    padding-right:4px;
  }
}
#btnNext {
  float:right;
  margin-bottom:10px;
  &:after {
    content:'\f105';
    font-family:FontAwesome;
    padding-left:4px;
  }
}
#btnPrev, #btnNext {
  background:transparent;
  border:none;
  outline:none;
  font-size:12px;
  color:#666;
  cursor:pointer;
  font-family:"Roboto Condensed", sans-serif;
  text-transform:uppercase;
  transition:all 0.3s ease;
  &:hover {
    color:@calendar-standout;
    font-weight:bold;
  }
}



/* 예약 변경/취소 모달창 */
div.reserve-popup {
    display: none;
    width: 543px;
    height: 472px;
    position: fixed;
    left: 50%;
    top: 46%;
    margin-left: -298px;
    margin-top: -272px;
    z-index: 101;
    background-color: #fff;
    border-radius: 7px;
    padding: 33px 28px;
}
div.reserve-popup>div.popup-title {
    color: #ff5a5f;
    font-size: 17px;
    padding-bottom: 13px;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 25px;
    font-weight: 600;
}
div.reserve-popup * {
    vertical-align: middle;
}
i.icon.close {
    cursor: pointer;
    background-position: -620px -170px;
    width: 18px;
    height: 17px;
}
div#pre-reserve.reserve-popup>div.comment, div.reserve-popup>div.box_list {
    text-align: center;
}
div.reserve-popup>div.popup-row {
    margin-bottom: 28px;
}
div.reserve-popup>div.box, div.reserve-popup>div.popup-row>div.box {
    width: 175px;
    height: 43px;
    padding-top: 6px;
    display: inline-block;
    border: 1px solid #c8c8c8;
    text-align: left;
    margin-right: 4px;
    position: relative;
    border-radius: 3px;
}
div.reserve-popup>div.popup-row>div.box>i.icon {
    margin: 15px;
    position: relative;
    top: -11px;
    left: -8px;
}
i.icon.personnel {
    background-position: -201px -209px;
}
i.icon.calendar, i.icon.clock, i.icon.personnel {
    height: 22px;
    width: 27px;
}
i, input[type=checkbox].slide-toggle+label span {
    background-repeat: no-repeat;
    display: inline-block;
}
div.reserve-popup>div.popup-row>div.box>.box_text {
    display: inline-block;
    position: relative;
    left: -18px;
    top: -11px;
    font-weight: 600;
    font-size:13px;
}
div.reserve-popup>div.popup-row>div.box>.person_count {
    display: inline-block;
    border: 1px solid #c8c8c8;
    position: relative;
    left: -7px;
    top: -11px;
    margin-left: -7px;
}
div.reserve-popup>div.popup-row>div.box>.person_count>i.minus {
    border-right: 1px solid #c8c8c8;
}
div.reserve-popup>div.popup-row>div.box>.person_count>i {
    cursor: pointer;
    width: 24px;
    height: 24px;
}
i.icon.minus {
    background-position: -600px -200px;
}
i.icon.minus, i.icon.phone, i.icon.plus {
    width: 27px;
    height: 22px;
}
div.reserve-popup>div.popup-row>div.box>.person_count>.count {
    width: 30px;
    display: inline-block;
    text-align: center;
    cursor: default;
    font-size:13px;
}
div.reserve-popup>div.popup-row>div.box>.person_count>i.plus {
    border-left: 1px solid #c8c8c8;
}
div.reserve-popup>div.popup-row>div.box>.person_count>i {
    cursor: pointer;
    width: 24px;
    height: 24px;
}
i.icon.plus {
    background-position: -576px -199px;
}
div.reserve-popup>div.popup-row>div.box.pointer {
    cursor: pointer;
}
div.reserve-popup>div.box_list>div.box>.sub_popup {
    position: absolute;
    left: -1px;
    top: 40px;
    display: none;
    z-index: 10;
    width: 100%;
    background-color: #fff;
}
#calendar>div {
    width: 100%;
    padding: 10px 0 0;
}
.ui-datepicker {
    font-size: 12px;
    display: inline-block!important;
    border-radius: 0;
    border: 1px solid gray;
    color: #c91b3c;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}
.ui-widget-header {
    font-weight: 500;
}
.ui-datepicker-header {
    background: 0 0;
    border: none;
    color: #444;
    margin-bottom: 10px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-br, .ui-corner-right {
    border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bl, .ui-corner-bottom, .ui-corner-left {
    border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-right, .ui-corner-top, .ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-left, .ui-corner-tl, .ui-corner-top {
    border-top-left-radius: 4px;
}
.ui-widget-header {
    border: 1px solid #aaa;
    background: url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x #ccc;
    font-weight: 700;
}
.ui-widget-content a, .ui-widget-header, .ui-widget-header a {
    color: #222;
}
.ui-helper-clearfix {
    min-height: 0;
}

i.icon.calendar {
    background-position: -230px -210px;
}
i.icon.calendar, i.icon.clock, i.icon.personnel {
    height: 22px;
    width: 27px;
}
div.reserve-popup>div.popup-row>div.box>.first {
    color: #444;
}
div.reserve-popup>div.popup-row>div.box>.date, div.reserve-popup>div.popup-row>div.box>.time {
    display: inline-block;
    position: relative;
    left: -13px;
    top: -10px;
    cursor: pointer;
    font-size:13px;
}
div.reserve-popup>div.popup-row>div.box>i.arrow {
    position: absolute;
    top: 0;
    left: 133px;
}

i.icon.arrow.red {
    background-position: -454px -266px;
    width: 14px;
    height: 10px;
}
div.reserve-popup>div.box_list>div.box>.sub_popup {
    position: absolute;
    left: -1px;
    top: 40px;
    display: none;
    z-index: 10;
    width: 100%;
    background-color: #fff;
}

i.icon.clock {
    background-position: -308px -208px;
}
i.icon.calendar, i.icon.clock, i.icon.personnel {
    height: 22px;
    width: 27px;
}
div#pre-reserve.reserve-popup>div.comment.result {
    font-weight: 600;
    font-size: 11pt;
    letter-spacing: -.5px;
}
div#pre-reserve.reserve-popup>div.comment, div.reserve-popup>div.box_list {
    text-align: center;
}
div.reserve-popup>div.popup-row {
    margin-bottom: 28px;
}div#pre-reserve.reserve-popup>div.comment, div.reserve-popup>div.box_list {
    text-align: center;
}
div.reserve-popup>div.popup-row {
    margin-bottom: 28px;
}
div.reserve-popup>div.popup-row>textarea {
    display: inline-block;
    resize: none;
    width: 542px;;
    height: 61px !important;
    padding: 12px;
    font-size: 13px;
    color: #444;
    border-radius: 4px;
    margin-top: -2px;
    border: 1px solid #c8c8c8;
}

div.reserve-popup>div.popup-row.comment>p {
    text-align: right;
    color: #b4b4b4;
    font-size: 10px;
    line-height: 10px;
    margin-top: 6px;
}
div.reserve-popup>div.popup-row.comment>p>span {
    vertical-align: baseline;
}
div.reserve-popup>div.notice {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: center;
    color: #c91b3c;
}
div.reserve-popup>div.confirm-btn {
    text-align: center;
    position: absolute;
    bottom: -46px;
    left: 0;
    width: 100%;
    height: 40px;
}
div.reserve-popup>div.confirm-btn>button.reserve {
    background-color: #c91b3c;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    border-radius: 4px;
}
div.reserve-popup>div.confirm-btn>button.cancel {
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    border-radius: 4px;
}
div.reserve-popup>div.confirm-btn>button.cancel, div.reserve-popup>div.confirm-btn>button.edit {
    font-size: 14px;
    display: none;
    width: 49%;
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
}
div.reserve-popup>div.confirm-btn>button.edit {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    color: #666;
}


/* 취소 또는 삭제 확인 모달 */
div.confirmBackground {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
div.confirmBackground, div.noticePopup {
    z-index: 1000;
    display: none;
    position: fixed;
}
div.confirmPopup {
    top: 50%;
}
div.confirmNo, div.confirmOk, div.confirmPopup {
    z-index: 1000;
    position: fixed;
    border-radius: 3px;
    left: 50%;
    display: none;
    font-size: 13.1px;
}
div.confirmOk, div.confirmPopup, div.noticePopup {
    background-color: #666;
    opacity:0.6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CB000000, endColorstr=#CB000000);
}
div.confirmNo {
    background-color: #666;
    opacity:0.6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CB000000, endColorstr=#CB000000);
    top: 50%;
}
div.confirmNo, div.confirmOk {
    color: #fff;
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
}
div.confirmOk {
    top: 50%;
}
div.confirmMessage{
	color:#fff
}


/* 문의사항 폼 */
#content.mypage>.body>.question>.question_header{
	padding-bottom:25px;
	font-size:20px;
}

.submit-btn, .reset-btn {
    font-size: 14px;
    width: 250px;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 10px 0;
}
.submit-btn {
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    border-radius: 4px;
}
.reset-btn {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    color: #666;
    float:right;
}

#content.mypage>.body>.question>form>.text{
	width:100%;
	height:200px;
	resize:none;
	border: 1px solid #dcdcdc;	
    border-radius: 4px;
    padding: 12px;
    font-size: 13px;
    color:#666;
}

