@charset "UTF-8";

.storeInfotable li {
	overflow: hidden;
	margin-bottom: 20px;
	font-size: 13px;
}

.storeInfotable li>label {
	float: left;
	display: block;
	width: 100px;
	padding: 10px 0;
	text-align: left;
}

.storeInfotable li>*:nth-child(even) {
	float: left;
	width: 560px;
	padding: 10px;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
}

.facilities {
	text-align: left;
	padding: 15px 25px !important;
}

.facilities input {
	display: inline-block;
	margin-right: 5px;
}

.facilities label {
	display: inline-block;
	width: 100px;
}

.btn-box button {
	color: #fff;
	font-size: 13px;
	background: #ec3e43;
	border: 0;
	border-right: 2px solid #cc272b;
	border-bottom: 2px solid #cc272b;
	border-radius: 5px;
	height: 40px;
	padding: 0 20px;
	margin-bottom: 20px;
}

.btn-box button:last-child {
	background: #6c95aa;
	border-right: 2px solid #425a66;
	border-bottom: 2px solid #425a66;
}

.storeInfotable li> .filebox {
	border: initial;
	text-align: left;
}
.storeInfotable .filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.storeInfotable .filebox label {
	width: initial;
	height: initial;
	position: initial;
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #666 !important;
	color: #fff;
	border: 0;
	border-bottom: 1px solid #333 !important;
	border-right: 1px solid #333 !important;
	border-radius: .25em;
} /* named upload */
.storeInfotable .filebox .upload-name {
	display: inline-block;
	padding: .5em .75em; /* label의 패딩값과 일치 */
	font-size: inherit;
	font-family: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
}
.storeInfotable .filebox .upload-thumb-wrap {
    display: inline-block;
    width: initial;
    height: initial;
    border-radius: 5px;
    overflow: initial;
    position: initial;
    top: initial;
    left: initial;
    border: 1px solid #e5e5e5;
    padding: 5px;
    margin-bottom: 10px;
}
.storeInfotable .filebox .upload-display img {
    display: block;
    height: initial;
}